body{
	background-color: black;	
}

button {
	background-color: #008CBA;
	color: white;
	transition-duration: 0.4s;
}

label{
	font-weight: bold;
}

button:HOVER {
  	color: white;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  	font-weight: bold;
}

fieldset{
  width:500px;
  height:250px;
}

legend{
  font-style:bold;
  font-family: “Segoe UI”,”Arial”,”Times New Roman”;
}

.campo_nome{
  position:absolute;
  left:107px;
  top:23px;
  width:75%;
}

.campo_nasc{
	position:absolute;
  	left:110px;
  	margin-top:37px;
  	width:75%;	
}

.btn_voltar{
	position: absolute;
	top: 70%;
	left: 10%;
	width: 200px;
}
.btn_voltar:HOVER{
	background-color: #F51B11;
}

.btn_salvar{
	position: absolute;
	top: 70%;
	left: 50%;
	width: 200px;
}

.btn_slavar:HOVER{
	background-color: #69E638;
}

form{
	position: absolute;
	left: 33%;
	top: 20%;
}

.nasc{
	position: absolute;
	top: 30%;
}

table {
	position: absolute;
	top: 30%;
	left: 24%;
}

.cadastrar{
	position: absolute;
	top: 80%;
	left: 38%;
}

h2{
	font-size: 25px;
	text-align: center;
}

h1{
	font-size: 20px;
	position: absolute;
	top: 80%;
	left: 30%;
}
